<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Hello world
    <div class="container">
      <div class="div-like" style="width: 100px">
        <a href="/dislike/<%=girl.id%>" style="float: right"><%=girl.dislike%>  Dislike</a>
        <a href="/like/<%=girl.id%>"><%=girl.like%> Like</a>
      </div>
      <img src="../<%=girl.hinh%>" width="100px">
      <div class="div-next" style="width: 100px">
        <a href="/list/<%=girl.id + 1%>">Next</a>
        <a href="/list/<%=girl.id - 1%>" style="float: right">Prev</a>
      </div>
    </div>
  </body>
</html>


<!-- INSERT INTO "Hotgirl"(ten, hinh, "like", dislike) VALUES
('Chi Pu', '1.jpg', 1, 1),
('Diem My', '2.jpg', 1, 1),
('Maria', '3.jpg', 1, 1),
('Okizawa', '4.jpg', 1, 1),
('Huong Huong', '5.jpg', 1, 1),
('Ngoc Son', '6.jpg', 1, 1) -->
